# Managed by Composer
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

.idea/
composer.lock
.php-cs-fixer.cache

